@import {
}

body {
  background: rgb(58, 58, 58);
  color: white;
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
}

header {
  background-color: #fcc913;
  background-size: 100%;
  background-position: center;
  height: 400px;
  padding: 20px;
  text-align: center;
}

header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 40px;
}

header .logo a {
  background-size: 300px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 80px;
  position: relative;
  top: -30px;
  width: 300px;
}

h1 {
  font-family: cingo;
  left: 0;
  text-align: center;
  top: 50%;
  width: 100%;
}
h2 {
  font-family: cingo;
  left: 0;
  text-align: center;
  top: 50%;
  width: 100%;
}

h3 {
  font-family: cingo;
  left: 0;
  text-align: center;
  top: 50%;
  width: 100%;
}
h4 {
  clear: both;
  font-family: cingo;
  left: 0;
  text-align: center;
  top: 50%;
  width: 100%;
}

.profile-img {
  height: 150%;
  max-width: 100%;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container ul {
  display: inline;
}

nav li {
  display: inline-block;
  margin-right: 20px;
  list-style-type: none;
}

.features {
  background: white;
  color: gray;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.features figure {
  margin: auto;
  text-align: center;
  text-transform: uppercase;
}

.features figure img {
  border: 1px solid white;
  border-radius: 50%;
  box-shadow: gray 0 0 10px;
  width: 50%;
}

.container {
  width: 1024px;
  margin: 200px auto;
}

.timeline {
  counter-reset: year 2018;
  position: relative;
}

.timeline li {
  list-style: none;
  float: left;
  width: 33.3333%;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
}

ul:nth-child(1) {
  color: white;
}

.timeline li:before {
  counter-increment: year;
  content: counter(year);
  width: 50px;
  height: 50px;
  border: 3px solid #fba405;
  border-radius: 50%;
  display: block;
  text-align: center;
  line-height: 50px;
  margin: 0 auto 10px auto;
  background: #f1f1f1;
  color: #000;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.timeline li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #fba405;
  top: 25px;
  left: -50%;
  z-index: -999;
  transition: all ease-in-out 0.3s;
}

.timeline li:first-child:after {
  content: none;
}
.timeline li.active {
  color: #facf83;
}
.timeline li.active:before {
  background: #fcc913;
  color: #f1f1f1;
}

.timeline li.active + li:after {
  background: #f6e4d2;
}
#current-project {
  height: 84px;
}

.table {
  display: table;
  margin: 0 auto;
}

ul#horizintal-list {
  min-width: 696px;
  list-style: none;
  padding-top: 20px;
}

ul#horizintal-list li {
  display: inline;
}

.button1 {
  background-color: #fba405;
  color: white;
  border: 2px solid #fc795d;
}

.button1:hover {
  background: #fba5a3;
  color: rgb(0, 162, 255);
}

.button2 {
  background-color: #fba405;
  color: white;
  border: 2px solid #fc795d;
}

.button2:hover {
  background: #fba5a3;
  color: rgb(0, 162, 255);
}

.button3 {
  background-color: #fba405;
  color: white;
  border: 2px solid #fc795d;
}

.button3:hover {
  background: #fba5a3;
  color: rgb(0, 162, 255);
}

.button4 {
  background-color: #fba405;
  color: white;
  border: 2px solid #fc795d;
}

.button4:hover {
  background: #fba5a3;
  color: rgb(0, 162, 255);
}

.button5 {
  background-color: #fba405;
  color: white;
  border: 2px solid #fc795d;
}

.button5:hover {
  background: #fba5a3;
  color: rgb(0, 162, 255);
}

footer {
  background: black;
  color: gray;
  font-size: 12px;
  padding: 20px 20px;
  text-align: center;
}
